<div class="goalform mat-elevation-z4">
  <p-table [value]="goalList" [scrollable]="true" scrollHeight="400px">
    <ng-template pTemplate="header">

      <tr>
        <th style="color:white; background-color:  rgb(88, 88, 187);" >Name</th>
        <th style="color:white; background-color:  rgb(88, 88, 187);">Description</th>
        <th style="color:white; background-color:  rgb(88, 88, 187);">Image</th>
        <th style="color:white; background-color:  rgb(88, 88, 187);">Date</th>
        <th style="color:white; background-color:  rgb(88, 88, 187);">Total </th>
        <th style="color:white; background-color:  rgb(88, 88, 187);">saved</th>
        <th style="color:white; background-color:  rgb(88, 88, 187);">Delete</th>
   
      </tr>
  
    </ng-template>
    <ng-template pTemplate="body" let-goal>
      <tr>
        <td>{{ goal.name }}</td>
        <td>{{ goal.description }}</td>
      
        <img src={{goal.image}} alt="img" width="100" height="100">
        <td>{{ goal.date }}</td>
        <td>{{ goal.amount }}</td>
        <td>{{ goal.saved }}</td>
        <td>
          <button class="deletebutton" mat-flat-button (click)="deleteRow(goal)">
            <mat-icon style="color:white;">delete_forever</mat-icon>
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

