<div class="goalform mat-elevation-z4">
 
  <p-table [value]="goalList" [scrollable]="true" styleClass="p-datatable-gridlines" scrollHeight="400px">
    <ng-template pTemplate="header">
      <tr>
    
        <th style="color: white; background-color: #004a9f">Name</th>
        <th style="color: white; background-color: #004a9f">Description</th>
        <th style="color: white; background-color: #004a9f">Date</th>
        <th style="color: white; background-color: #004a9f">Total</th>
        <th style="color: white; background-color: #004a9f">saved</th>
        <th style="color: white; background-color: #004a9f">Image</th>
        <th style="color: white; background-color: #004a9f">Action</th>
       
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-goal>
      <tr>
        
       
         <td>{{goal.name}}</td> 
        <td>{{ goal.description }}</td>
  
        <td>{{ goal.date }}</td>
        <td>{{ goal.amount | currency }}</td>
        <td>{{ goal.saved | currency }}</td>
        <td>      <img
          src="{{ goal.image }}"
          alt="img"
          width="110"
          height="80"
          class="img mat-elevation-z4"
        /></td>
     
         <td> <button
            class="deletebutton"
            mat-flat-button
            (click)="deleteRow(goal)"
          >
          <mat-icon style="color: white">delete_forever</mat-icon>
          </button>
          <button
          class="deletebutton"
          mat-flat-button
          (click)="editGoal(goal.id)"
        >
          <mat-icon style="color: white">edit</mat-icon>
        </button>
        </td>


 
      </tr>
    </ng-template>
  </p-table>




