.goalform {
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
  border-color: lightgray;
  border-radius: 2px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.headerwords {
  color: white;
}

.deletebutton {
  background-color: rgb(88, 88, 187);
  margin-left: 10px;
}

.name {
  background-color: rgb(80, 80, 214);
}
img {
  margin-right: 5px;
  margin-top: 8px;
}
