.goalform {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  border-color: lightgray;
  border-radius: 2px;
  margin-top: 10px;
  margin-bottom: 50px;
  padding-bottom: 50px;

}

.headerwords {
  color: white;
}

.deletebutton {
  background-color: #004a9f;
  margin-left: 10px;
}

.name {
  background-color: #004a9f;
}
img {
  margin-right: 5px;
  margin-top: 8px;
}

