
<div class="form mat-elevation-z4">
  <h1 style="font-family: 'Courier New', Courier, monospace;color: rgb(155, 152, 152); margin-top: 15px;"> Enter a new Goal</h1>
 <mat-divider></mat-divider>
  <mat-form-field  appearance="fill">
    <mat-label>Goal Name</mat-label>
    <input matInput type="text"/>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
  <br>

  <mat-form-field  appearance="fill">
    <mat-label>Image</mat-label>
    <input matInput type="url"/>
  </mat-form-field>
  <br>
  <mat-form-field  appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput type="date"/>
  </mat-form-field>
  <br>
  <mat-form-field  appearance="fill">
    <mat-label>Amount</mat-label>
    <input matInput type="number"/>
  </mat-form-field>
<br>
  <mat-form-field  appearance="fill">
    <mat-label>Saved</mat-label>
    <input matInput type="number"/>
  </mat-form-field>
<br>
  
<mat-divider></mat-divider>
  <button mat-raised-button class="submitbutton" ><mat-icon>submit</mat-icon><span>Submit</span></button>

</div>
