
<form #goalform (ngSubmit)="save(goal);goalform.reset()" > 
<div class="registration mat-elevation-z4">
  <h1 style="font-family: 'Courier New', Courier, monospace;color: rgb(155, 152, 152); margin-top: 15px;"> Enter a new Goal</h1>

  <mat-divider></mat-divider>

  <mat-form-field    appearance="fill">
    <mat-label > Goal Name</mat-label>
    <input  matInput type="text" name="goalname" [(ngModel)]="goal.name"/>
  </mat-form-field >
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput type="text" name="description" [(ngModel)]="goal.description"></textarea>
  </mat-form-field>
  <br>

  <mat-form-field  appearance="fill">
    <mat-label>Image</mat-label>
    <input matInput type="url" name="image" [(ngModel)]="goal.image"/>
  </mat-form-field>
  <br>
  <mat-form-field  appearance="fill">
    <mat-label>Date</mat-label>
    <input matInput type="date" name="date" [(ngModel)]="goal.date"/>
  </mat-form-field>
  <br>
  <mat-form-field  appearance="fill">
    <mat-label>Amount</mat-label>
    <input matInput type="number" name="amount" [(ngModel)]="goal.amount"/>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
<br>
  <mat-form-field  appearance="fill">
    <mat-label>Saved</mat-label>
    <input matInput type="number" name="saved" [(ngModel)]="goal.saved"/>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
<br>

<mat-form-field  appearance="fill">
  <mat-label>userId</mat-label>
  <input matInput type="number" name="id" [(ngModel)]="goal.user.id"/>
</mat-form-field>

<br>

<mat-form-field  appearance="fill">
  <mat-label>username</mat-label>
  <input matInput type="text" name="username" [(ngModel)]="goal.user.username"/>
</mat-form-field>
  
<mat-divider></mat-divider>
  <button mat-raised-button class="submitbutton" ><mat-icon>submit</mat-icon><span>Submit</span></button>

</div>
</form>

